.cm-breadcrumb {
	background-color: #fff;
}

.cm-breadcrumb__inner {
	max-width: 1440px;
	padding-left: 24px;
	padding-right: 24px;
	min-width: 320px;
	margin: 0 auto;
	background: #ffff;
	box-sizing: border-box;
}

.gb-gnb__bar{position:relative;background-color:#fff;border-bottom:1px solid #dadada}

.cm-breadcrumb__path{max-width:70%;padding:0 25px 0;padding-left:0;-webkit-box-sizing:border-box;box-sizing:border-box;text-transform:capitalize;font-size:0;white-space:nowrap;text-align:left}

ul, ol { list-style: none; }

.cm-breadcrumb__path li{display:inline-block;margin-right:5px;font-size:12px;color:#000;text-indent:0;line-height:40px;vertical-align:bottom}

.cm-breadcrumb__path a { color: #636363 }

.cm-breadcrumb__path li:first-child span { display: inline-block; vertical-align: middle; }

.feature-benefit.s-img-align-left { direction: rtl; }

.feature-benefit.s-img-align-left, .feature-benefit.s-img-align-right { letter-spacing: -4px; }

.feature-benefit { overflow: hidden; position: relative; max-width: 1440px; margin: 0 auto; color: #363636; }

.s-bg-white { background-color: #fff; }

.feature-benefit.s-img-align-left .feature-benefit__text-wrap { padding-right: 24px }

.feature-benefit.s-img-align-left .feature-benefit__text-wrap, .feature-benefit.s-img-align-right .feature-benefit__text-wrap { display: inline-block; width: 50%; text-align: left; vertical-align: middle; box-sizing: border-box; direction: ltr; letter-spacing: 0 }

.feature-benefit.s-img-align-left .feature-benefit__text-wrap .feature-benefit__title, .feature-benefit.s-img-align-right .feature-benefit__text-wrap .feature-benefit__title { margin-top: 0; padding: 0; }

.feature-benefit__title { width: 66.67%; margin: 0 auto; font-weight: bold; color: #000; box-sizing: border-box; line-height: 1.2; }

.feature-benefit.s-img-align-left .feature-benefit__text-wrap .feature-benefit__desc-wrap, .feature-benefit.s-img-align-right .feature-benefit__text-wrap .feature-benefit__desc-wrap { width: 66.67%; padding: 0; }

.feature-benefit__desc-wrap { margin: 0 auto; box-sizing: border-box; }

.feature-benefit__desc { direction: ltr; line-height: 1.33; }

.feature-benefit.s-img-align-left .s-btn-encased, .feature-benefit.s-img-align-left .s-btn-text-underline, .feature-benefit.s-img-align-right .s-btn-encased, .feature-benefit.s-img-align-right .s-btn-text-underline { margin-left: 0; margin-right: 12px }

.feature-benefit .s-btn-encased { margin: 0 auto; color: #000 }

.s-btn-encased{position:relative;display:inline-block;padding:12px 38px;padding:0.83333vw 2.63889vw;border:1px solid #000;-webkit-border-radius:45px;border-radius:45px;background-color:transparent;font-weight:bold;-webkit-transition-duration:0.3s;transition-duration:0.3s;-webkit-transition-property:background,color,border-color;transition-property:background,color,border-color;-webkit-transition-timing-function:ease-in-out;transition-timing-function:ease-in-out;font-size:14px;font-size:0.97222vw;color:#000;line-height:1;text-transform:uppercase;text-shadow:none;letter-spacing:.15em;white-space:nowrap}

.feature-benefit a.s-btn-encased:hover {
	color: #fff;
	background-color: #000;
}	

.feature-benefit.s-img-align-left .feature-benefit__img-wrap, .feature-benefit.s-img-align-right .feature-benefit__img-wrap {display:inline-block;width:50%;margin-top:0;font-size:0px;font-size:0vw;vertical-align:middle;-webkit-box-sizing:border-box;box-sizing:border-box;letter-spacing:0}

.feature-benefit__img-wrap { overflow: hidden; position: relative; }

.primary-selection { max-width: 1440px; margin: 0 auto; }

.primary-selection__title {
	text-align: center;
}
.primary-selection__title .s-btn-text {
	font-size: 14px;
}
.s-btn-text{display:inline-block;font-weight:bold;font-size:14px;font-size:0.97222vw;color:#000;line-height:1;text-transform:uppercase;text-shadow:none;letter-spacing:.15em;white-space:nowrap}

.s-btn-text:after{display:inline-block;margin-top:-1px;margin-left:7px;width:8px;width:0.55556vw;height:13px;height:0.90278vw;background-image:url("../images/svg-btn-arw-right-black.svg");background-repeat:no-repeat;vertical-align:middle;content:''}

.primary-selection__product { color: #363636; text-align: center; }

.js-primary-selection-carousel {
	position: relative;
}

.primary-selection__product .js-primary-selection-carousel:before { content: ''; display: block; clear: both; }

.primary-selection__product--4column .primary-selection__product-ct {
	width: 25%;
}
.primary-selection__product-ct {
	position: relative;
	float: left;
	width: 100%;
	padding: 56px 0px 70px;
	padding: 3.88889vw 0vw 4.86111vw;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.primary-selection__product-ct:before {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 12px;
	left: 0.83333vw;
	right: 12px;
	right: 0.83333vw;
	bottom: 0;
	background: #f7f7f7;
	content: '';
}
.primary-selection__product-ct-img-wrap{position:relative;width:448px;width:31.11111vw;height:488px;height:33.88889vw;margin:0 auto;margin-bottom:32px;margin-bottom:2.22222vw}

.primary-selection .s-contents-wrap-cta { display: block; }

.primary-selection__product-ct-img-wrap img { width: 100%; }
@media (min-width: 1440px) {
	.primary-selection__product-ct-img-wrap {
		margin-bottom: 32px;
	}
	.primary-selection__product--4column .primary-selection__product-ct-img-wrap {
		height: 240px;
		width: 220px;
	}
	.primary-selection__product-ct:before {
		right: 12px;
		left: 12px;
	}
	.primary-selection__product-ct {
		padding: 56px 0px 70px;
	}
	.primary-selection__product--4column .primary-selection__product-ct { height: 600px; }

	.primary-selection__product {
		padding: 0px 12px;
	}
	[data-font-size-pc="32"] {
		font-size: 32px;
	}
	.primary-selection__title-tit {
		margin-bottom: 18px;
		
		line-height: 1.2;
	}
	[data-font-size-pc="18"] {
		font-size: 18px;
	}
	.feature-benefit--padding-bottom-wide {
		padding-bottom: 48px;
	}
	.feature-benefit__text-wrap {
		font-size: 16px;
	}
	.feature-benefit.s-img-align-left .feature-benefit__text-wrap .feature-benefit__text, .feature-benefit.s-img-align-right .feature-benefit__text-wrap .feature-benefit__text {
		padding: 84px 0px;
	}
	[data-font-size-pc="64"] {
		font-size: 64px;
	}
	.feature-benefit__desc {
		margin-top: 8px;
	}
	.feature-benefit.s-img-align-left .feature-benefit__cta-wrap {
		margin-right: -25px;
	}
	.feature-benefit .s-btn-encased {
		margin-top: 30px;
	}
	.s-btn-encased {
		font-size: 14px;
		padding: 12px 38px;
	}
	.primary-selection__title {
		padding: 79px 0px 83px;
	}
}